:host {

    .wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;

        background: rgba(0, 0, 0, 0.5);

        padding: 20px;

        .left {

            .logo {

                img {

                    width: 200px;

                }

            }

        }

        .right {

            .icons {

                i {

                    color: rebeccapurple;
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {

                        color: limegreen;

                    }

                }

            }

        }

    }

}
