:host {

    .wrapper {

        .content {

            padding: 10px 20px;
            //border: 1px solid rebeccapurple;

            background: rgba(0, 0, 0, 0.7);

            color: #ddd;

        }

    }

}
