:host {
    
    .wrapper {
        
        display: flex;
        
        margin: 20px;
        
        .left {
            
            display: flex;
            flex-direction: column;
            
            flex: 1;
            
            width: 300px;
            height: 200px;
            
            background: rgba(0, 0, 0, 0.8);
            
            .name {
                
                color: #8c4fdb;
                font-size: 18px;
                
                padding: 10px;
                
            }
            
            .description {
                
                flex: 1;
                
                padding: 10px;
                margin-bottom: 20px;
                
                color: #666;
                
            }
            
            .install {
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                padding: 10px;
                
                color: #666;
                
                background: #111;
                
                cursor: pointer;
                
                &:hover {
                    
                    background: #222;
                    color: rebeccapurple;
                    
                }
                
            }
            
        }
        
        .right {
            
            flex: 0 1 30px;
            
            width: 30px;
            height: 75px;
            
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            
            .icons {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                i {
                    
                    margin-bottom: 15px;
                    
                    color: #333;
                    font-size: 26px;
                    
                    cursor: pointer;
                    
                    &:hover {
                        
                        background: #222;
                        color: limegreen;
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}
