body {
    
    padding: 0;
    margin: 0;
    
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif !important;
    
}

* {
    
    outline: none;
    
}
